<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.BoonDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.Boon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="boon_name" jdbcType="VARCHAR" property="boonName" />
    <result column="boon_money" jdbcType="REAL" property="boonMoney" />
    <result column="boon_percent" jdbcType="REAL" property="boonPercent" />
    <result column="boon_remark" jdbcType="VARCHAR" property="boonRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, boon_name, boon_money, boon_percent, boon_remark
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from boon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from boon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.Boon" useGeneratedKeys="true">
    insert into boon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="boonName != null">
        boon_name,
      </if>
      <if test="boonMoney != null">
        boon_money,
      </if>
      <if test="boonPercent != null">
        boon_percent,
      </if>
      <if test="boonRemark != null">
        boon_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="boonName != null">
        #{boonName,jdbcType=VARCHAR},
      </if>
      <if test="boonMoney != null">
        #{boonMoney,jdbcType=REAL},
      </if>
      <if test="boonPercent != null">
        #{boonPercent,jdbcType=REAL},
      </if>
      <if test="boonRemark != null">
        #{boonRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.Boon">
    update boon
    <set>
      <if test="boonName != null">
        boon_name = #{boonName,jdbcType=VARCHAR},
      </if>
      <if test="boonMoney != null">
        boon_money = #{boonMoney,jdbcType=REAL},
      </if>
      <if test="boonPercent != null">
        boon_percent = #{boonPercent,jdbcType=REAL},
      </if>
      <if test="boonRemark != null">
        boon_remark = #{boonRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="boonName != null and boonName != ''">
         and boon_name = #{boonName,jdbcType=VARCHAR}
      </if>
      <if test="boonMoney != null">
         and boon_money = #{boonMoney,jdbcType=REAL}
      </if>
      <if test="boonPercent != null">
         and boon_percent = #{boonPercent,jdbcType=REAL}
      </if>
      <if test="boonRemark != null and boonRemark != ''">
         and boon_remark = #{boonRemark,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.Boon" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from boon
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from boon
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from boon
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from boon
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>