<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.SysMenuDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.SysMenu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="leaf" jdbcType="INTEGER" property="leaf" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_parent_id" jdbcType="BIGINT" property="menuParentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `text`, leaf, menu_icon, menu_url, menu_parent_id
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.SysMenu" useGeneratedKeys="true">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="text != null">
        `text`,
      </if>
      <if test="leaf != null">
        leaf,
      </if>
      <if test="menuIcon != null">
        menu_icon,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuParentId != null">
        menu_parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null">
        #{leaf,jdbcType=INTEGER},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null">
        #{menuParentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.SysMenu">
    update sys_menu
    <set>
      <if test="text != null">
        `text` = #{text,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null">
        leaf = #{leaf,jdbcType=INTEGER},
      </if>
      <if test="menuIcon != null">
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null">
        menu_parent_id = #{menuParentId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="text != null and text != ''">
         and `text` = #{text,jdbcType=VARCHAR}
      </if>
      <if test="leaf != null">
         and leaf = #{leaf,jdbcType=INTEGER}
      </if>
      <if test="menuIcon != null and menuIcon != ''">
         and menu_icon = #{menuIcon,jdbcType=VARCHAR}
      </if>
      <if test="menuUrl != null and menuUrl != ''">
         and menu_url = #{menuUrl,jdbcType=VARCHAR}
      </if>
      <if test="menuParentId != null">
         and menu_parent_id = #{menuParentId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.SysMenu" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from sys_menu
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from sys_menu
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from sys_menu
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from sys_menu
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>