<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.SysRolePermissionDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.SysRolePermission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="per_id" jdbcType="BIGINT" property="perId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, per_id, role_id
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_role_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.SysRolePermission" useGeneratedKeys="true">
    insert into sys_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="perId != null">
        per_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="perId != null">
        #{perId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.SysRolePermission">
    update sys_role_permission
    <set>
      <if test="perId != null">
        per_id = #{perId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="perId != null">
         and per_id = #{perId,jdbcType=BIGINT}
      </if>
      <if test="roleId != null">
         and role_id = #{roleId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.SysRolePermission" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from sys_role_permission
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from sys_role_permission
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from sys_role_permission
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from sys_role_permission
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>